.footer {
    display: flex;
    flex-direction: column;

    &__section {
        display: flex;

        @media(max-width:1400px) {
            flex-wrap: wrap;
        }

    }

    &__about {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        column-gap: 16%;
        // flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;

        @media(max-width:1400px) {
            width: 100%;
        }

        @media(max-width:767px) {
            flex-wrap: wrap;
        }


    }

    &__info {
        display: flex;
        column-gap: 100px;

        @media(max-width:478px) {
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: center;
        }
    }

    &-title {
        color: $black;
        font-size: 20px;
        line-height: 25px;
        font-family: 'PlayfairDisplay-Regular';
        margin-bottom: 20px;
    }

    &__menu {
        display: flex;
        flex-direction: column;

        @media(max-width:478px) {
            text-align: center;
        }
    }

    &-link {
        display: block;
        color: $black;
        font-size: 16px;
        line-height: 20px;
        font-family: 'PlayfairDisplay-Regular';
        margin-top: 10px;
    }

    &__section {
        &-about {
            width: 50%;
            padding: 50px;

            @media(max-width:1400px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-title {
            color: $black;
            font-size: 48px;
            line-height: 55px;
            font-family: 'PlayfairDisplay-Regular';

            @media(max-width:992px) {
                font-size: 36px;
                text-align: center;
            }

            @media(max-width:767px) {
                font-size: 30px;
                line-height: 35px;
            }
        }

        &-description {
            color: $black;
            font-size: 20px;
            line-height: 45px;
            font-family: 'PlayfairDisplay-Regular';
            max-width: 730px;
            width: 100%;
            text-align: justify;


            &:first-of-type {
                margin: 30px 0 50px 0;
            }
        }

    }


    &__map {
        width: 50%;

        @media(max-width:1400px) {
            width: 100%;
        }

        @media(max-width:767px) {
            height: 400px;
        }
    }

    &__form {
        width: 50%;
        padding: 150px 85px;
        display: flex;
        column-gap: 50px;
        background: $white;

        @media(max-width:1400px) {
            width: 100%;
        }

        @media(max-width:767px) {
            flex-wrap: wrap;
            padding: 50px 60px;

        }

        &-input {
            border: none;
            border-bottom: 1px solid $extraBlack;
            max-width: 370px;
            width: 100%;
            padding: 5px 0;
            margin-bottom: 50px;
            outline: none;
            color: $inputTextColor;
            font-size: 18px;
            line-height: 21px;
            font-family: 'PlayfairDisplay-Regular';
            transition: 0.5s;

            &::placeholder {
                color: $inputTextColor;
                font-size: 18px;
                line-height: 21px;
                font-family: 'PlayfairDisplay-Regular';
            }

            &:focus {
                transform: scale(1.05);
                background: #F4EFEC;
            }
        }

        &-info {
            color: $black;
            font-size: 18px;
            line-height: 21px;
            font-family: 'PlayfairDisplay-Regular';
            margin-top: 87px;

            @media(max-width:767px) {
                margin-top: 0;
                margin-bottom: 50px;

            }
        }


        &-submit {
            color: $black;
            font-size: 18px;
            line-height: 21px;
            font-family: 'PlayfairDisplay-Regular';
            display: flex;
            justify-content: center;
            max-width: 300xp;
            width: 100%;
            padding: 15px 0;
            background: none;
            border: 1px solid $black;
            transition: 0.5s;
            margin-top: 70px;

            &:hover {
                background: $black;
                color: $white;
            }

            @media(max-width:767px) {
                margin: 0;

            }
        }
    }



}

.messengers {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    @media(max-width:425px) {
        flex-direction: row;
        column-gap: 25px;
    }
}