.footer {
    display: flex;
    &__about {
        // max-width: 960px;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

    &__info {
        display: flex;
        column-gap: 100px;
    }

    &-title {
        color: $black;
        font-size: 20px;
        line-height: 25px;
        font-family: 'PlayfairDisplay-Regular';
        margin-bottom: 20px;
    }
    
    &-link {
        color: $black;
        font-size: 16px;
        line-height: 20px;
        font-family: 'PlayfairDisplay-Regular';
        margin-top: 10px;
    }
    &__map {
        width: 50%;  
    }
}

.messengers {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}