.mainMenu {
    &__section {
        // display: flex;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);

        @media(max-width:1400px) {
            flex-wrap: wrap;
        }

        @media(max-width:767px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }


        &-block {
            max-width: 480px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            grid: span 1;

            @media(max-width:1400px) {
                grid-column: span 2;
                max-width: none;
                height: 500px;
                overflow: hidden;
            }

            @media(max-width:767px) {
                grid-column: span 1;
            }

            @media(max-width:600px) {
                grid-column: span 2;
                height: 400px;
            }

        }

        &-img {
            display: block;
            width: 100%;
            filter: blur(7px);
            transition: 0.5s;

        }

        &-title {
            color: $white;
            font-size: 48px;
            line-height: 50px;
            font-family: 'PlayfairDisplay-Regular';
            position: absolute;
            top: 50px;
            transition: 0.5s;
            opacity: 0;

            @media(max-width:992px) {
                font-size: 36px;
                text-align: center;
            }

            @media(max-width:767px) {
                font-size: 30px;
                line-height: 35px;
            }

            @media(max-width:500px) {
                top: 30px;
            }
        }

        &-btn {
            color: $white;
            font-size: 18px;
            line-height: 24px;
            font-family: 'PlayfairDisplay-Regular';
            border: 1px solid #FFFFFF;
            max-width: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 13px 0;
            position: absolute;
            bottom: 30px;
            transition: 0.5s;
            opacity: 0;


            @media(max-width:767px) {
                font-size: 18px;
                padding: 10px 0;
            }

            @media(max-width:600px) {
                max-width: 85%;
            }

            &:hover {
                background: $white;
                color: $black;
            }
        }
    }
}

.mainMenu__section-block.active .mainMenu__section-title,
.mainMenu__section-block.active .mainMenu__section-btn {
    opacity: 1;
    z-index: 1;
}


.mainMenu__section-block.active .mainMenu__section-img {
    filter: blur(0);
}