$white: #FFFFFF;
$black: #000000;
$extraBlack: #252321;
$inputTextColor: #838383;
$sliderController: rgba(196, 196, 196, 0.7);
$fonts: ('PlayfairDisplay-Italic', 400),
        ('PlayfairDisplay-Regular', 400),
        ('times-new-roman', 400);
@each $name, $weight in $fonts {
    @font-face {
        font-family: $name;
        src: url('../fonts/#{$name}.woff');
        font-weight: $weight;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0;
}
body {
    background: #F4EFEC;
}
    
