main.mainAbout 
    section.mainAbout__section  
        .mainAbout__section-slider 
            .mainAbout__slider-line 
                .mainAbout__slider-item
                    img(src="./images/about-1.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-2.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-3.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-4.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-3.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-4.webp", alt="")

            .mainAbout__slider-controllers 
                button.mainAbout__slider-controller.active 
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
        .mainAbout__section-about     
            h2.mainAbout__section-title 1 st
            ul.mainAbout__section-ul 
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle CITRUS SALAD
                    p.mainAbout__section-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle CHILLED WHITE ASPARAGUS
                    p.mainAbout__section-description Baby Lettuces, Mussel Broth & Calabrese Chili.............................................................................. 21$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle FOIE GRAS TERRINE
                    p.mainAbout__section-description Rabbit, Carrots & Brioche.................................................................................................................. 25$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle BUCATINI
                    p.mainAbout__section-description Butter, Chili, Mussel Broth & Bottarga............................................................................................. 15$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle CHAWANMUSHI
                    p.mainAbout__section-description Mushrooms, Jalapeño, Radish & Scallions....................................................................................... 17$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle MATZAH BALL SOUP
                    p.mainAbout__section-description Poached Matzah Ball, Chicken Broth & Winter Vegetable............................................................. 27$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle CITRUS SALAD
                    p.mainAbout__section-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle CHILLED WHITE ASPARAGUS
                    p.mainAbout__section-description Baby Lettuces, Mussel Broth & Calabrese Chili.............................................................................. 21$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle FOIE GRAS TERRINE
                    p.mainAbout__section-description Rabbit, Carrots & Brioche.................................................................................................................. 25$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle CITRUS SALAD
                    p.mainAbout__section-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle CHILLED WHITE ASPARAGUS
                    p.mainAbout__section-description Baby Lettuces, Mussel Broth & Calabrese Chili.............................................................................. 21$
                li.mainAbout__section-li
                    h3.mainAbout__section-subtitle FOIE GRAS TERRINE
                    p.mainAbout__section-description Rabbit, Carrots & Brioche.................................................................................................................. 25$

