main.mainAbout 
    section.mainAbout__section  
        .mainAbout__section-slider 
            .mainAbout__slider-line 
                .mainAbout__slider-item
                    img(src="./images/about-1.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-2.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-3.webp", alt="")
                .mainAbout__slider-item
                    img(src="./images/about-4.webp", alt="")

            .mainAbout__slider-controllers 
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller
                button.mainAbout__slider-controller