header.header 
    aside.header__aside 
        a
            img.header-logo(src="./images/logo.webp", alt="")
        ul.header__aside-ul 
            li 
                a.header__aside-li(href="menu.html") MENU 
            li 
                a.header__aside-li(href="") ABOUT 
            li 
                a.header__aside-li(href="") RESERVATION 
            li 
                a.header__aside-li(href="") NEWS 
            li 
                a.header__aside-li(href="") EVENTS 
            li 
                a.header__aside-li(href="") CAREERS 
            li 
                a.header__aside-li(href="") CONTACT 
        .header__aside-links
            .header__aside-messengers
                a.header__aside-icons(href="")
                    img(src="./images/facebook.svg", alt="")  
                a.header__aside-icons(href="")
                    img(src="./images/instagram.svg", alt="")  
                a.header__aside-icons(href="")
                    img(src="./images/telegram.svg", alt="")  
            a(href="#") 
                button.header__aside-button 
                    a(href="#") 
                        span.header__aside-en EN 
                    a(href="#") 
                        span.header__aside-ru /RU
    img.header-img(src="./images/header-img.webp", alt="")
    nav.header__nav 
        .header__menu-button 
            span.header__menu-line 
            span.header__menu-line 
            span.header__menu-line 
        a.header__nav-button(href="#") RESERVATION
main.main 