header.header 
    img.header-img(src="./images/header-img.webp", alt="")
    nav.header__nav 
        .header__menu-button 
            span.header__menu-line 
            span.header__menu-line 
            span.header__menu-line 
        a.header__nav-button(href="#") RESERVATION
    aside.header__aside 
        img.header-logo(src="./images/logo.png", alt="")
        ul.header__aside-ul 
            - var list = ['MENU','ABOUT','RESERVATION','NEWS','EVENTS','CAREERS','CONTACT']
            each items in list 
                li.header__aside-li= items
        .header__aside-links 
            .header__aside-messengers
                - var imagesList = ['./images/facebook.svg','./images/instagram.svg','./images/telegram.svg',]
                each items in imagesList 
                    img.header__aside-icons(src=items, alt="")
            a(href="#") 
                button.header__aside-button 
                    a(href="#") 
                        span.header__aside-en EN 
                    a(href="#") 
                        span.header__aside-ru /RU
main.main 