main.main 
    section
        .main__section-block     
            img.main__section-img(src="./images/menu-img.webp", alt="menu-img")
            .main__section-info 
                h2.main__section-title MENU
                p.main__section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a(href="#").main__section-btn READ MORE 
        .main__section-block     
            .main__section-info 
                h2.main__section-title EVENTS
                p.main__section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
                a(href="#").main__section-btn READ MORE 
            img.main__section-img(src="./images/events-img.webp", alt="menu-img")
        .main__section-block        
            img.main__section-img(src="./images/about-img.webp", alt="menu-img")
            .main__section-info 
                h2.main__section-title ABOUT US
                p.main__section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a(href="#").main__section-btn READ MORE 
    section 
        .main__section2-block 
            img.main__section2-img(src="../images/valentines-day.webp", alt="")
            .main__section2-title VALENTINE’S DAY    
        .main__section2-block 
            img.main__section2-img(src="../images/discount.webp", alt="")
            .main__section2-title ENJOY 25% OFF DINNER   
        .main__section2-block 
            img.main__section2-img(src="../images/tartare.webp", alt="")
            .main__section2-title FISH TARTARE WITH WASABI    
        .main__section2-block 
            img.main__section2-img(src="../images/review.webp", alt="")
            .main__section2-title RESTAURANT REVIEW   
        .main__section2-block 
            img.main__section2-img(src="../images/mothers-day.webp", alt="")
            .main__section2-title MOTHER’S DAY   
        .main__section2-block
            .main__section2-title CONTINUE READING OUR NEWS HERE  
    section 
        form.main__form
            div 
                input.main__form-input(type="text", placeholder="Date")
                input.main__form-input(type="number", placeholder="How many people")
                input.main__form-input(type="text", placeholder="Your name")
                p.main__form-info Monday - Sunday ; 09:00 - 02:00
            div 
                input.main__form-input(type="text", placeholder="Time")
                input.main__form-input(type="text", placeholder="Special wishes")
                input.main__form-input(type="number", placeholder="Your phone")
                input.main__form-submit(type="submit", value="RESERVATION")
        .main__section3-about 
            h2.main__section3-title RESERVE A TABLE
            p.main__section3-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
            p.main__section3-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.