main.main 
    section
        img.main__section-img(src="./images/menu-img.webp", alt="menu-img")
        .main__section-info 
            h2.main__section-title MENU
            p.main__section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a(href="#").main__section-btn READ MORE 
    section
        .main__section-info 
            h2.main__section-title EVENTS
            p.main__section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
            a(href="#").main__section-btn READ MORE 
        img.main__section-img(src="./images/events-img.webp", alt="menu-img")
    section
        img.main__section-img(src="./images/about-img.webp", alt="menu-img")
        .main__section-info 
            h2.main__section-title ABOUT US
            p.main__section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a(href="#").main__section-btn READ MORE 
    section.main__section-block 
        .main__block 
            img.main__block-img(src="./images/valentines-day.webp", alt="")
            h3.main__block-title VALENTINE’S DAY
        .main__block 
            img.main__block-img(src="./images/discount.webp", alt="")
            h3.main__block-title ENJOY 25% OFF DINNER 
        .main__block 
            img.main__block-img(src="./images/tartare.webp", alt="")
            h3.main__block-title FISH TARTARE WITH WASABI
        .main__block 
            img.main__block-img(src="./images/review.webp", alt="")
            h3.main__block-title RESTAURANT REVIEW
        .main__block 
            img.main__block-img(src="./images/mothers-day.webp", alt="")
            h3.main__block-title MOTHER’S DAY
        .main__block 
            h3.main__block-title CONTINUE READING OUR NEWS HERE