main.mainMenu 
    section.mainMenu__section 
        .mainMenu__section-block 
            h2.mainMenu__section-title KITCHEN
            a.mainMenu__section-btn(href="#") MORE             
            img.mainMenu__section-img(src="./images/menu-1.webp", alt="img")
        .mainMenu__section-block 
            h2.mainMenu__section-title KITCHEN
            a.mainMenu__section-btn(href="#") MORE     
            img.mainMenu__section-img(src="./images/menu-2.webp", alt="img")
        .mainMenu__section-block 
            h2.mainMenu__section-title KITCHEN
            a.mainMenu__section-btn(href="#") MORE     
            img.mainMenu__section-img(src="./images/menu-3.webp", alt="img")
        .mainMenu__section-block 
            h2.mainMenu__section-title KITCHEN
            a.mainMenu__section-btn(href="#") MORE 
            img.mainMenu__section-img(src="./images/menu-4.webp", alt="img")

    